@model Name

<form asp-action="DeletePOST" method="post">
    <h2> Delete Name</h2>
    <hr>
    <input asp-for="Id" hidden/>
    <div class="mb-3">
        <label asp-for="FirstName"> First Name</label>
        <input asp-for="FirstName" class="form-control" disabled /> 
    </div>
    <div class="mb-3">
        <label asp-for="LastName"> Last Name</label>
        <input asp-for="LastName" class="form-control" disabled/>
    </div>
    <button type="submit" class="btn btn-outline-primary">Delete</button>
    <a asp-controller="Crud" asp-action="Index" class="btn btn-outline-secondary">Back to Home</a>
</form>
