@model IEnumerable<Name>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
            </tr>
        }
    </tbody>
</table>

